body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 50px;
    width: 100%;
    top: 0px;
    background-color: rgb(65, 65, 65);
    color: rgb(204, 204, 204);
    padding-left: 50px;
    font-weight: 300;
    position: fixed;
}

nav {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 20px;
    background-color: rgb(207, 207, 207);
    color: rgb(112, 112, 112);
    margin: 80px 300px 0px 50px;
    padding: 5px;
    padding-left: 20px;
    font-style: italic;
    font-size: small;
}

section {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 100px;
    font-weight: 300;
    font-size: x-large;
    color: grey;
}

.grid {
    display: grid;
    gap: 30px;
    padding: 50px;
    padding-bottom: 100px;
    background-color: rgb(249, 249, 249);
    grid-template-areas:
        "left center center center center center"
        "left center center center center center";
    grid-template-columns: 2fr repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
}

.left {
    grid-area: left;
    background-color: rgb(249, 249, 249);
}

.center {
    background-color: tomato;
}

.grid .left{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    padding-right: 200px;
}

.center {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 220px;
    width: 220px;
    display: flex;
}

.center div {
    display: flex;
    height: 45px;
    width: 45px;
    border-radius: 0px !important;
}

.center div:nth-of-type(1) {
    background-color: rgb(175, 163, 251);
}

.center div:nth-of-type(2) {
    background-color: rgb(119, 119, 119);
}

.center div:nth-of-type(3) {
    background-color: rgb(104, 207, 176);
}

.center div:nth-of-type(4) {
    background-color: rgb(215, 218, 44);
}

.center div:nth-of-type(5) {
    background-color: rgb(190, 94, 65);
}

.grid div {
    border-radius: 5px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
    background-color: rgb(65, 65, 65);
    color: rgb(204, 204, 204);
    font-size: small;
}
