.center {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: var(--round-size);
    width: var(--round-size);
    background-color: tomato;
    display: flex;
}

.center div {
    display: flex;
    height: calc(var(--round-size) / 5);
    width: calc(var(--round-size) / 5);
    border-radius: 0px !important;
}

.center div:nth-of-type(1) {
    background-color: rgb(175, 163, 251);
}

.center div:nth-of-type(2) {
    background-color: rgb(119, 119, 119);
}

.center div:nth-of-type(3) {
    background-color: rgb(104, 207, 176);
}

.center div:nth-of-type(4) {
    background-color: rgb(215, 218, 44);
}

.center div:nth-of-type(5) {
    background-color: rgb(190, 94, 65);
}

.grid div {
    border-radius: 5px;
}

/* @media (max-width: 850px) {
    .center {
        height: 140px;
        width: 140px;
    }

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }
}

@media (max-width: 650px) {
    .center {
        height: 160px;
        width: 160px;
    }
}   */
